.album {
  display: flex;
  flex-direction: column;
}

.album__title {
  @include txt-md;
  color: $white;
  text-transform: capitalize;
}

.album__year {
  @include txt-sm;
  display: block;
  color: $gray-80;
}

.album__cover {
  order: -1;

  @include media-up(xl) {
    width: 250px;
    height: 250px;
  }
}
