.artist-preview {
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
}

.artist-preview_bg-morten-harket {
  background-image: url('../images/Morten\ Harket.png');
}
