.artist-preview {
  padding-top: 200px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;
}

.artist-preview_bg-morten-harket {
  background-image: url('../images/Morten\ Harket.png');
}

.artist-preview__btn {
  @include txt-xs;
  width: 200px;
  text-align: left;

  &_purple {
    background-color: $purple;

    &:hover {
      background-color: $purple-90;
    }
  }

  &_brown {
    background-color: $brown;

    &:hover {
      background-color: $brown-90;
    }
  }
}
