.artist {
  @include txt-center;
  display: flex;
  flex-direction: column;
}

.artist__name {
  @include txt-md;
  color: $white;
  text-transform: capitalize;
}

.artist__fans {
  @include txt-sm;
  display: block;
  color: $gray-80;
}

.artist__photo {
  order: -1;

  @include media-up(xl) {
    width: 250px;
    height: 250px;
  }
}
