.artist-preview {
  padding-top: 250px;
  padding-bottom: 200px;
  background-position: center;
  background-size: cover;

  @include media-up(xl) {
    padding-top: 225px;
  }
}

.artist-preview_bg-morten-harket {
  background-image: url('../images/Morten\ Harket.png');
}
