.btn {
  display: inline-block;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
  color: $white;
  text-transform: uppercase;
  border-width: 0;
  border-radius: 5px;

  &:hover {
    cursor: pointer;
  }
}

.download-btn {
  @include txt-xs;
  padding-top: 16px;
  padding-right: 40px;
  padding-bottom: 16px;
  padding-left: 40px;
  text-transform: none;
  background-color: $brown;
  border-radius: $rounded-corners;

  &:hover {
    background-color: $brown-90;
  }
}

.btn__icon {
  width: 20px;
  height: 20px;
  filter: invert(1);
}
