.news-card__image {
  @include media-up(xl) {
    width: 575px;
  }
}

.news-card__title {
  @include txt-sm;
  font-weight: normal;
  text-transform: capitalize;

  @include media-up(xl) {
    font-size: 30px;
  }
}

.news-card__description {
  @include txt-sm;
  color: $gray-90;
}

.news-card__author-name {
  @include txt-xs;
  display: inline-block;
  color: $orange;
  text-transform: uppercase;
}

.news-card__publishing-date {
  @include txt-xs;
  display: inline-block;
  color: $gray-90;
}
