.search-form {
  @include media-up(md) {
    flex-basis: 248px;
  }
}

.search-form__input {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $gray-100;
  border-radius: 50px;

  &:hover {
    outline: 2px solid $white;
  }
  
  &:focus {
    outline: 2px solid $white;
  }

  &::placeholder {
    color: $gray-95;
    font-size: 13.3px;
    text-transform: uppercase;
  }

  // CUSTOM CLEAR BUTTON
  // &::-webkit-search-cancel-button {
  //   width: 18px;
  //   height: 18px;
  //   background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23777'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  //   cursor: pointer;
  //   -webkit-appearance: none;
  // }
}
