.search-form {
  @include media-up(md) {
    min-width: 248px;
  }
}

.search-form__input {
  display: block;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  background-color: $gray-100;
  border-radius: 50px;

  &:hover {
    outline: 2px solid $white;
  }
  
  &:focus {
    outline: 2px solid $white;
  }

  &::placeholder {
    @include txt-xs;
    color: $gray-95;
    text-transform: uppercase;
  }
}
