.sign-up-form {
  display: block;
  width: 100%;
  margin: 0 auto;
  @include media-up(md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;
  }
}

.sign-up-form__input {
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  background: none;
  border: 2px solid $gray-90;
  border-radius: 3px;

  @include media-up(md) {
    max-width: 270px;
  }
  
  &:hover {
    background-color: $white-10;
  }

  &:focus {
    background-color: $white-10;
  }
  
  &::placeholder {
    color: $white;
  }
}
