.subscription-card {
  @include txt-center;
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 64px;
  padding-left: 24px;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.subscription-card__title {
  @include txt-sm;
  font-weight: normal;
  text-transform: uppercase;
  
  @include media-up(md) {
    @include txt-lg;
  }
}

.subscription-card_bg-free {
  background-image: url('../images/subscribe_1.png');
}

.subscription-card_bg-standard {
  background-image: url('../images/subscribe_2.png');
}

.subscription-card_bg-premium {
  background-image: url('../images/subscribe_3.png');
}

.subscription-card__price {
  font-size: 64px;
  line-height: 1;
}

.subscription-card__description {
  @include txt-xs;
  margin: 0;
}

.subscription-prices__description {
  @include txt-sm;
  @include txt-center;
}
