.subscription-card {
  padding-top: 20px;
  padding-right: 24px;
  padding-bottom: 64px;
  padding-left: 24px;
  text-align: center;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
}

.subscription-card_bg-free {
  background-image: url('../images/subscribe_1.png');
}

.subscription-card_bg-standard {
  background-image: url('../images/subscribe_2.png');
}

.subscription-card_bg-premium {
  background-image: url('../images/subscribe_3.png');
}

.subscription-card__price {
  @include txt-7xl;
}

.subscription-card__currency {
  @include txt-2xl;
  text-transform: uppercase;
  vertical-align: top;
}

.subscription-card__btn {
  display: block;
  width: 100%;
  border: 1px solid $white;

  &:hover {
    background-color: $white-10;
  }
}

.subscription-card__description {
  @include txt-xs;
}
