@mixin txt-xxs {
  font-size: 11px;
  line-height: 1.5;
}

@mixin txt-xs {
  font-size: 12.8px;
  line-height: 1.5;
}

@mixin txt-sm {
  font-size: 16px;
  line-height: 1.5;
}

@mixin txt-md {
  font-size: 18px;
  line-height: 1.5;
}

@mixin txt-lg {
  font-size: 24px;
  line-height: 1.5;
}

@mixin txt-xl {
  font-size: 30px;
  line-height: 1.5;
}

@mixin txt-2xl {
  font-size: 32px;
  line-height: 1.5;
}

@mixin txt-3xl {
  font-size: 40px;
  line-height: 1.5;
}

@mixin txt-4xl {
  font-size: 48px;
  line-height: 1.5;
}

@mixin txt-5xl {
  font-size: 56px;
  line-height: 1.5;
}

@mixin txt-6xl {
  font-size: 60px;
  line-height: 1.5;
}

@mixin txt-7xl {
  font-size: 64px;
  line-height: 1.5;
}

@mixin txt-center {
  text-align: center;
}

@mixin txt-left {
  text-align: left;
}

@mixin title-h1 {
  @include txt-xl;
  text-transform: uppercase;

  @include media-up(xl) {
    @include txt-6xl;
  }
}

@mixin title-h2 {
  @include txt-md;
  text-transform: uppercase;
  
  @include media-up(xl) {
    font-size: 38px;
    line-height: 1.5;
  }
}

h4 {
  @include txt-md;
  text-transform: uppercase;
}
