.footer {
  background: $gradient-purple-to-brown;
}

.footer__main-menu {
  padding-top: 62px;
  padding-bottom: 72px;
}

.footer__secondary-menu {
  padding-top: 40px;
  padding-bottom: 48px;
  border-top: 1px solid $white;
}

.footer__column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__header {
  @include txt-md;
  text-transform: uppercase;
}

.footer__item {
  @include txt-sm;
  color: $gray-90;
}

.footer__link:hover {
  color: $white;
}

.footer__social-links {
  display: flex;
  gap: 24px;
  align-items: center;
}
