.navigation {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation__wrapper {
  @include media-up(md) {
    @include d-flex-center;
  }
}

.navigation__items {
  @include d-flex-start;
  flex-direction: column;

  @include media-up(md) {
    flex-direction: row;
    flex-grow: 1;
  }
}

.navigation__item {
  @include txt-xxs;
  font-weight: bold;
  text-transform: uppercase;

  @include media-up(md) {
    font-weight: normal;
  }
}

.navigation__link_active {
  color: $white;

  &:visited {
    color: $white;
  }
}
