/** VARIABLES **/

$black: #08020D;
$gray-100: #3C3B3D;
$gray-90: #CACACA;
$gray-80: #E0E0E0;
$brown: #95390C;
$purple: #5328A1;
$orange: #F89202;
$green: #34C176;

/** DEFAULT STYLES **/

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}